
@{
    ViewBag.Title = "Educational Games";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Default", "Home")">Home</a></li>
                <li>Educational Games</li>
            </ul>

        </div>
    </div>
</section>

<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Educational Games</h2>
        </div>

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">
                            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        The integration of Technology into Education has been on the upward trend,
                                        with the rise of the Internet age and the fast-growing Technology Industry,
                                        the potential it has to greatly transform Learning and Creativity knows no bounds. <br /><br />

                                        One of the major breakthroughs in the union between Technology and Education is the
                                        integration of Games. Nolan Bushnell said, <strong>
                                            “Video games foster the mindset that allows
                                            creativity to grow.
                                            ”
                                        </strong> The innovation of Educational Games has proven to be a powerful
                                        tool used to improve thinking ability, attention span, creativity, vocabulary and logic.
                                        All these important cognitive skill-sets can be improved just by playing the right kind of Educational Games.<br /><br />

                                        With the variety of Educational Games at <strong>BrainGainSpa
                                        </strong>
                                        , ranging from <strong>
                                            logic
                                        </strong>
                                        to <strong>
                                            grammar
                                        </strong>
                                        ,
                                        <strong>
                                            vocabulary
                                        </strong>
                                        and many others, every member can improve his/her educational performance and have<br />
                                        fun while learning.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
