
@{
    ViewBag.Title = "ELibrary";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Default", "Home")">Home</a></li>
                <li>Resources</li>
            </ul>

        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>E-Library</h2>
        </div>

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">


                            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">



                                        With the provision and set-up of the E-Library resource, our commitment
                                        to promoting and reigniting the Reading Culture is re-affirmed.<br><br>
                                        <b>READING MAKES YOU SMARTER AND INTELLIGENT:</b>
                                        Those who read have been known to have more finely-tuned brains than
                                        those who prefer more passive activities. They have higher GPAs, higher
                                        intelligence and more general knowledge than those who don’t read. So
                                        anyone hoping to improve their minds both psychologically and
                                        cognitively might begin to think about taking up the habit of regular
                                        reading. <b>
                                            Jacqueline Kennedy said, “there are many little ways to
                                            enlarge your child’s world, but the love of books is the best of all”.
                                        </b><br><br>
                                        The E-Library is lined up with various genres of books (Business books,
                                        Character- building book, Classic books, Educational books, Motivational
                                        books, Novels, True stories, etc…) to satisfy the passion of even the most
                                        avid reader. The Pre-Schoolers are also not excluded as there are
                                        numerous and exciting READ-ALOUD books to catch their attention and
                                        also keep them calm.<br><br>
                                        In addition, certain books will be selected monthly for readers of various
                                        Grades to read and then, Test Questions will also be available for them to
                                        attempt and be rewarded.



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
