
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>FAQs</li>
            </ul>

        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>FAQs</h2>
        </div>

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">
                            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        <strong>1. CAN I PAY FOR MULTIPLE SUBSCRIPTIONS AND ALSO GET A DISCOUNT?</strong><br>
                                        ANS: YES! You can make payment for multiple subscriptions of 3 months, 6 months and 1 year and also get discounts of 5%, 10%, and 15% respectively.
                                        <br><br>
                                        <strong>2.	CAN I SUBSCRIBE FOR MULTIPLE GRADES?</strong><br>
                                        ANS: NO! You can only subscribe for a grade in a month, or particular subscription durations of 3 months, 6 months or 1 year as applicable.
                                        <br><br>
                                        <strong>3.	CAN I SUBSCRIBE FOR MULTIPLE RESOURCES AND ALSO GET DISCOUNTS?</strong><br>
                                        ANS: Sure, you can subscribe for multiple resources and also get discounts accordingly. <br>
                                        2 resources - 5% discount<br>
                                        3 resources – 7.5% discount<br>
                                        4resources – 10% discount
                                        <br><br>
                                        <strong>4.	HOW DO I REFER SOMEONE? </strong><br>
                                        ANS: Give the person or referral your Referee Code to state, when he / she is signing up, in order for he/she to be placed directly under you or on your first level within your Affiliate Organisation.
                                        <br><br>
                                        <strong>5.	WHAT IS THE MAXIMUM NUMBER OF PEOPLE I CAN REFER?</strong><br>
                                        ANS: 10 which will be placed on your first level. It then becomes your duty to teach your 10 to get their 10, in this way you can easily and quickly build your organisation exponentially by everyone in it getting their 10.
                                        <br><br>
                                        <strong>6.	CAN I GET REFERRALS FROM OUTSIDE THE COUNTRY AND ALSO EARN FROM THEM? </strong><br>
                                        ANS: Yes, you can refer people from outside the country and also earn from them as well because it’s a global platform.
                                        <br><br>
                                        <strong>7.	HOW DO I MAKE PAYMENTS AND ALSO RECEIVE BONUSES?</strong><br>
                                        ANS:  You can make payments via the payment portal on our platform, using your credit or debit card, or by simply doing a bank transfer. You can also receive your bonuses directly into the bank account details you supplied when signing up. Bonuses are paid on a monthly basis.
                                        <br><br>
                                        <strong>8.	IS THERE A MINIMUM MONTHLY SUBSCRIPTION? </strong><br>
                                        ANS: Yes, there is a minimum monthly subscription of N2,000 required, to be deemed active and eligible to receive bonuses.<br>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>
<!--End Why Choose Us -->
