
@{
    ViewBag.Title = "Kenneth Bulus";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Default", "Home")">Home</a></li>
                <li>About Us</li>
            </ul>
            <h1>Our Team</h1>
        </div>
    </div>
</section>

<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">
                            <div class="image-column col-lg-3 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="image-box">
                                        <figure class="image">
                                            <img src="../../Content/imagesb/resource/team-7.jpg" alt=""><br><center>
                                                <h6 class="name"><a href="@Url.Action("OluwafemiOduniyi", "Home")">Kenneth Bulus</a></h6>
                                                <span class="designation">Consultant</span>
                                            </center>
                                        </figure>
                                    </div>
                                </div>
                            </div>


                            <div class="content-column col-lg-9 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        A serial entrepreneur with passion. He has co-founded several start-up
                                        companies. He has been involved in setting up companies involving digital
                                        marketing, consulting, and I.T. starting from his days in the university.
                                        He also sits on the board of several companies and organizations.
                                        His entrepreneurship journey started over 15 years ago from his
                                        university days. He obtained his Bachelor of Science degree in Banking
                                        and Finance from the University of Lagos. From there on he obtained his
                                        certifications in Infobase Engineering, Direct Response, and Digital
                                        Marketing. He is a Certified Digital Marketing Professional as well as a
                                        Certified Process Professional and Coach.<br><br>
                                        He has attended several courses, seminars, and training, home and
                                        abroad on fields ranging from marketing, digital publishing, digital
                                        marketing, sales, customer relations, and customer experience.
                                        He has garnered experience with his involvement and management of
                                        projects in various fields of endeavor. He has been involved and
                                        coordinated the execution of projects and operations with numerous stategovernments like Lagos, Port Harcourt, Kaduna, Kano, the Federal Capital
                                        Territory, and more.<br><br>
                                        A brilliant and well-groomed gentleman of excellent people management
                                        skills, he has coordinated both the development and deployment of digital
                                        solutions and technological infrastructure to several educational
                                        institutions, national companies, organizations, government parastatals,
                                        and statehouses.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
