
@{
    ViewBag.Title = "OluwafemiOduniyi";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Default", "Home")">Home</a></li>
                <li>About Us</li>
            </ul>
            <h1>Our Team</h1>
        </div>
    </div>
</section>

<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">
                            <div class="image-column col-lg-3 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="image-box">
                                        <figure class="image">
                                            <img src="../../Content/imagesb/resource/team-1.jpg" alt=""><br><center>
                                                <h6 class="name"><a href="@Url.Action("OluwafemiOduniyi", "Home")">Oluwafemi Oduniyi</a></h6>

                                                <span class="designation">CEO</span>
                                            </center>
                                        </figure>
                                    </div>
                                </div>
                            </div>


                            <div class="content-column col-lg-9 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        Mr. Oluwafemi Oduniyi is the CEO and a co-founder of BrainGain
                                        International Ltd and has decades of experience in growing and leading
                                        successful Network Marketing companies. With a vast working experience
                                        that spans over 16 years and cuts across various industries, he made his
                                        mark in several companies and organizations such as Body Reset
                                        International, Coscharis Group of Companies, Katine Communications Ltd,
                                        HermonCrest Dew Nigeria Ltd, AirtimeBoom International Ltd.<br><br>
                                        He has been creating and designing Network Marketing Compensation
                                        Plans for over a decade. He also has a special bias for Education and
                                        Health and has been committed to enhancing the sector in several
                                        capacities for the past 10 years.<br><br>
                                        He obtained a Bachelor of Science Degree in Economics from the
                                        prestigious University of Ibadan, Nigeria. He has attended several courses
                                        on Management, Information Technology, Security, and Network
                                        Marketing both locally and internationally.<br><br>
                                        He currently serves as a Director in numerous companies. He is happily
                                        married with three lovely children.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
