
@{
    ViewBag.Title = "Past Questions";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Default", "Home")">Home</a></li>
                <li>Resources</li>
            </ul>

        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Past Questions</h2>
        </div>

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">


                            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        This Resource features various past Q&amp;As, with answer Explanations
                                        ranging from Primary to Professional Levels: Common Entrance, JAMB,
                                        JUNIOR WAEC, WAEC, NECO, TOEFL, IGSCE, GMAT, SAT, A’ Levels, ICAN,
                                        ACCA, CIPM, NIM, IELTS<br><br>

                                        Whether you just want to boost your confidence, improve your Exam
                                        scores in preparation for an upcoming Certification Exam, our Exam and
                                        Practice Mode version of Past Q&amp;As will definitely help to do the magic!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
