
@{
    ViewBag.Title = "Referral Plans";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Default", "Home")">Home</a></li>
                <li>Referral Plans</li>
            </ul>

        </div>
    </div>
</section>

<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Referral Reward Plan</h2>
        </div>

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">
                            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        <strong>
                                            BRAINGAINSPA COMPENSATION PLAN: REGISTRATION &amp; EARNING
                                            PROCEDURES
                                        </strong><br><br>

                                        Registration fee is Five thousand naira only (₦5,000). To complete your registration,
                                        you need to make a minimum subscription of ₦2,000. In other words, your minimum
                                        START-UP FEE is ₦7,000. It could also be more, depending on your Resource
                                        subscription.<br>
                                        There are two simple categories of the Compensation Plan in which you can earn
                                        residual income.<br><br>

                                        <strong>1. REFERRAL REWARD BONUS (RRB)</strong>
                                        Tabular representation of a 4 levels deep RRB Plan with a START-UP of
                                        ₦7,000.
                                        <br><br>

                                        <table width="500">
                                            <tr>
                                                <td><strong>LEVEL</strong></td>
                                                <td><strong>REFERRALS</strong></td>
                                                <td><strong>AMOUNT SHARED</strong></td>
                                                <td><strong>BONUS</strong></td>
                                            </tr>

                                            <tr>
                                                <td>1</td>
                                                <td>10</td>
                                                <td>275</td>
                                                <td>2,750</td>
                                            </tr>


                                            <tr>
                                                <td>2</td>
                                                <td>100</td>
                                                <td>275</td>
                                                <td>27,500</td>
                                            </tr>


                                            <tr>
                                                <td>3</td>
                                                <td>1,000</td>
                                                <td>275</td>
                                                <td>275,000</td>
                                            </tr>


                                            <tr>
                                                <td>4</td>
                                                <td>10,000</td>
                                                <td>825</td>
                                                <td>8,250,000</td>
                                            </tr>


                                            <tr>
                                                <td><strong>Total</strong></td>
                                                <td>11,110</td>
                                                <td>1650</td>
                                                <td>8,555,250</td>
                                            </tr>
                                        </table>
                                        <br><br>
                                        The table showing above illustrates how to calculate the RRB. To calculate the
                                        RRB, multiply the number of referrals on each level by the amount shown on
                                        that level. For example, on level 1, 10 referrals multiplied by ₦275 equals
                                        ₦2,750. The same calculation is applicable also, to the other levels. This simply
                                        means that if a User has a total of 11,110 referrals within his/her referral tree
                                        organization and they have also done the minimum START-UP of ₦7,000, such
                                        a User would have earned as much as ₦8,555,250 as RRB, cumulatively.<br><br>

                                        <img src="../../Content/imagesb/resource/about-img-66.jpg" align="left" style="margin-right:20px;">

                                        You can earn Bonuses from your Direct referrals which makes up your 1 st level
                                        and also earn from your Indirect referrals which makes up your referral
                                        organization from levels 2-4.<br><br>
                                        The Bonuses are earned monthly from the Direct and Indirect referrals minimum
                                        START-UPS.
                                        <br><br>
                                        <strong>2. MONTHLY RESIDUAL INCOME (MRI)</strong><br>
                                        Tabular representation of a 4 levels deep MRI, based on a subscription of
                                        ₦2,000.<br>
                                        <br><br>
                                        <center><img src="../../Content/imagesb/resource/graph.jpg"></center>

                                        <br><br>
                                        <table width="550px">
                                            <tr>
                                                <td><strong>LEVELS</strong></td>
                                                <td><strong>REFERRAL</strong></td>
                                                <td><strong>AMOUNT SHARED</strong></td>
                                                <td><strong>INCOME</strong></td>
                                            </tr>

                                            <tr>
                                                <td>1</td>
                                                <td>10</td>
                                                <td>100</td>
                                                <td>1,000</td>
                                            </tr>


                                            <tr>
                                                <td>2</td>
                                                <td>100</td>
                                                <td>100</td>
                                                <td>10,000</td>
                                            </tr>

                                            <tr>
                                                <td>3</td>
                                                <td>1000</td>
                                                <td>100</td>
                                                <td>100,000</td>
                                            </tr>

                                            <tr>
                                                <td>4</td>
                                                <td>10,000</td>
                                                <td>100</td>
                                                <td>1,000,000</td>
                                            </tr>

                                            <tr>
                                                <td><strong>Totals</strong></td>
                                                <td>11,110</td>
                                                <td>400</td>
                                                <td>1,111,000</td>
                                            </tr>
                                        </table>
                                        <br><br>
                                        The table showing above illustrates how to calculate the (MRI). To calculate the
                                        MRI, multiply the number of referrals on each level by the amount shown on
                                        that level. For example, on level 1, 10 referrals multiplied by ₦100 equals
                                        ₦1,000. The same calculation is applicable also, to the other levels. This simply
                                        means that if a User has a total of 11,110 referrals within his/her referral tree
                                        organization and they have also been doing the minimum Resource
                                        SUBSCRIPTION of ₦2,000, such a User would be earning as much as
                                        ₦1,111,000 monthly as MRI, cumulatively.<br><br>

                                        <strong>NB:</strong> Income is earned simultaneously on RRB and MRI, in a particular month of a
                                        User’s active subscription. The company reserves the right to modify the
                                        compensation plan at any time but such modifications would be properly
                                        communicated to Users.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
