
@{
    ViewBag.Title = "Skill Practice";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../Content/imagesb/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Default", "Home")">Home</a></li>
                <li>Resources</li>
            </ul>

        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Skill Practice</h2>
        </div>

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->

                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">

                            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        It features a comprehensive British/American Curriculum as well as
                                        Nigerian/Ghanaian Curriculum. It provides thousands of quizzes ranging
                                        from Grades 1-12 and covering topics from the various under listed
                                        subjects (Maths, English, Basic Science &amp; Technology, Civic Education,
                                        Business Studies, Physics, Chemistry, Biology, Further Maths, Agricultural
                                        Science, Economics, Accounting, Commerce, Literature, Government,
                                        History, Fine &amp; Applied Arts…). The Skill Practice resource is designed to
                                        help reinforce topics already taught in the Classroom.<br><br>
                                        A User is timed, scored and graded for every Exercise, and invariably use
                                        this resource to Self-Learn. There is a monthly optional Mock Exam
                                        attached to this Resource for those interested in getting rewarded for
                                        Outstanding Performances and also have their pictures displayed on the
                                        BrainGain Faces of the month. <br><br>
                                        In addition, Certificates of Achievements are presented to regular Users
                                        who have achieved the following Milestones of correctly answered
                                        questions (500, 1000,2000,3000,4500,6000). Furthermore, 4500
                                        Milestone achievers gets selected and become eligible for a chance to win
                                        a Scholarship. This Skill Practice resource is truly designed to be exciting
                                        and rewarding for Users as they can also Earn while Learning.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

