
@{
    ViewBag.Title = "Virtue Oduniyi";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="auto-container">

        <div class="services-tabs tabs-box">
            <!--Tab Btns-->
            <!--Tabs Container-->
            <div class="tabs-content">
                <!-- Tab -->


                <div class="tab active-tab" id="tab-1">
                    <div class="service-tabs">

                        <div class="row">
                            <div class="image-column col-lg-3 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="image-box">
                                        <figure class="image">
                                            <img src="../../Content/imagesb/resource/team-2.jpg" alt=""><br><center>
                                                <h6 class="name"><a href="@Url.Action("OluwafemiOduniyi", "Home")">Virtue Oduniyi</a></h6>
                                                <span class="designation">Executive Director</span>
                                            </center>
                                        </figure>
                                    </div>
                                </div>
                            </div>


                            <div class="content-column col-lg-9 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="text" style="text-align:justify;">
                                        Mrs. Virtue Oduniyi is the Executive Director and co-founder of BrainGain
                                        International Ltd and she has decades of experience that cuts across
                                        various industries. She has also been involved with Interior Decorations
                                        for several high-profile clients, Organization of Book Fairs, Sales of Books,
                                        and equipping Libraries for several schools and educational institutions.
                                        She was also a key influencer in several companies and organizations
                                        such as Body Reset International, HermonCrest Dew Nigeria Ltd,
                                        AirtimeBoom International Ltd. She also has a special bias for Education
                                        and Health and has been committed to enhancing these sectors in
                                        several capacities for the past 7 years.<br><br>
                                        She obtained a Bachelor of Laws Degree from the prestigious University of
                                        Lagos, Akoka, Nigeria. She has attended several courses on Management,
                                        Law, Education, Health, and Network Marketing both locally and
                                        internationally.<br><br>
                                        She is also good at translating customer requirements, recommending
                                        solutions, suggesting process improvements, and formulating detailed
                                        specifications conforming to standards. She currently serves as a Director
                                        in numerous companies. She is happily married with three lovely children.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
