<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DomainHeader" value="http://" />
    <!--<add key="DomainHeader" value="http://localhost:56080/" />-->
    <!--<add key="PaystackSecret" value="sk_test_10a20081439e9418fa0ffe8772dbda4518ca747e" />-->
    <!--braingainspa-->
    <add key="PaystackSecret" value="sk_test_3b81fb39b720a4ca4a8af1ba925a679eb267e8aa" />    
    <!--<add key="PaystackSecret" value="sk_live_81014ace1ae4bf39a4b01dddfd5a57d6438a6044"/>-->
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Home/Default" timeout="2880" />
    </authentication>
    
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="On" defaultRedirect="~/Views/Shared/Error">
      <error statusCode="403" redirect="~/Views/Shared/Error" />
      <error statusCode="404" redirect="~/Views/Shared/Error" />
    </customErrors>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DBQUIZZEntities" connectionString="metadata=res://*/Models.QuizModels.csdl|res://*/Models.QuizModels.ssdl|res://*/Models.QuizModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COZARDEV;initial catalog=DBQUIZZ;user id=sa;password=coss1222xyz;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--<add name="DBQUIZZEntities" connectionString="metadata=res://*/Models.QuizModels.csdl|res://*/Models.QuizModels.ssdl|res://*/Models.QuizModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5057.site4now.net;initial catalog=DB_A482AA_quiz;user id=DB_A482AA_quiz_admin;password=Qwz1234@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <!--<add name="DB_A482AA_quizEntities" connectionString="metadata=res://*/Models.OQuiz.csdl|res://*/Models.OQuiz.ssdl|res://*/Models.OQuiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5057.site4now.net;initial catalog=DB_A482AA_quiz;user id=DB_A482AA_quiz_admin;password=Qwz1234@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--<add name="CArumala_edquizEntities" connectionString="metadata=res://*/Models.bgsModel.csdl|res://*/Models.bgsModel.ssdl|res://*/Models.bgsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL6007.site4now.net;initial catalog=DB_A3C075_dbqz;user id=DB_A3C075_dbqz;password=coss1222;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <!--<add name="DB_A3C075_dbqzEntities" connectionString="metadata=res://*/Models.bgsTmpModel.csdl|res://*/Models.bgsTmpModel.ssdl|res://*/Models.bgsTmpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL6007.site4now.net;initial catalog=DB_A3C075_dbqz;persist security info=True;user id=DB_A3C075_dbqz_admin;password=coss1222;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <!--<add name="CArumala_edquizEntities" connectionString="metadata=res://*/Models.bgsTmpModel.csdl|res://*/Models.bgsTmpModel.ssdl|res://*/Models.bgsTmpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL6007.site4now.net;initial catalog=DB_A3C075_dbqz;persist security info=True;user id=DB_A3C075_dbqz_admin;password=coss1222;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <!--<add name="CArumala_edquizEntities" connectionString="metadata=res://*/Models.bgsModel.csdl|res://*/Models.bgsModel.ssdl|res://*/Models.bgsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=96.125.165.247;initial catalog=CArumala_edquiz;persist security info=True;user id=CArumala_Admin;password=bgsp@4321Sp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <add name="CArumala_edquizEntities" connectionString="metadata=res://*/Models.bgspaModel.csdl|res://*/Models.bgspaModel.ssdl|res://*/Models.bgspaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=96.125.165.247;initial catalog=CArumala_edquiz;persist security info=True;user id=CArumala_Admin;password=bgsp@4321Sp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
    
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network" from="cozarmicros@gmail.com">
        <network host="smtp.gmail.com" userName="cozarmicros@gmail.com" password="coss1222xyz" port="587" />
      </smtp>-->
      <smtp deliveryMethod="Network" from="cozarmicros@gmail.com">
        <network host="smtp.gmail.com" userName="cozarmicros@gmail.com" password="coss1222@#" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>