
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@*<h2>UserInfo</h2>*@

<h4 style="color:green;">Welcome to <strong>BraingainSpa</strong></h4>
<br />
<p>
    <strong>BraingainSpa</strong> provides students with materials with which they can be well prepared to get excellent results in their <i>Class Tests</i>
    and <i>Examinations</i>, and ultimately in their individual careers.<br />

    In addition,<strong>You can get Rewarded for Outstanding Performances</strong>
</p>
<h5 style="color:green;">GETTING STARTED</h5>
@*<p>To begin, you will need to pay for a subscription for you to have access any of the resources in stock and also to earn money.</p>*@
<ol>
    <li>Click on the Academics menu</li>
    <li>Select Skill Practice hone your skills on any one of the subjects.</li>
    <li>Select Past Questions hone your skills on any one of the subjects.</li>
    <li>
        Enter your school details as follows:
        <ul>
            <li>Select your <strong>School</strong>, which might already be selected.</li>
            <li>Select your Faculty.</li>
            <li>Select your current <strong>Department</strong>, to display a list Courses.</li>
            <li>Select all your <strong>Courses</strong> for the current Semester.</li>
        </ul>
    </li>
    <li>Click Save to Register the courses.</li>
</ol>
<p>
    Next. You can view your Tutorials by selecting <strong>My Courses</strong> from the <strong>Dashboard</strong> menu and then clicking on <strong>Tutorials</strong>
    or <strong>Questions</strong> - as it applies - for the particular course that you want to view.
</p>

